<?xml version="1.0"?>
<model>
  <name>3DR Iris with velodyne VLP16 and realsense r200 camera</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_VLP16_r200.sdf</sdf>

  <author>
   <name></name>
   <email></email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with velodyne VLP16 and realsense r200 camera.
  </description>
</model>
