<?xml version="1.0"?>
<model>
  <name>3DR iris with 2 realsense cameras r200</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_front_up_r200.sdf</sdf>
  <author>
   <name>Duckyu Choi</name>
   <email>duckyu@kaist.ac.kr</email>
  </author>
  <description>
    This is a model of the 3DR iris Quadrotor with 2 up, front r200 realsense cameras.
  </description>
</model>
