<?xml version="1.0"?>
<model>
  <name>hexahedron</name>
  <version>1.0</version>
  <sdf version='1.4'>hexahedron.sdf</sdf>

  <author>
   <name>Duckyu Choi</name>
   <email>duckyu@kaist.ac.kr</email>
  </author>

  <description>
    hexahedron which includes force based move plugin
  </description>
</model>
